aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
appnope
asttokens
async-timeout
attrs
backcall
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
comm
dataclasses-json
debugpy
decorator
Deprecated
dirtyjson
distro
docx2txt
exceptiongroup
executing
filelock
frozenlist
fsspec
gitdb
GitPython
googletrans
greenlet
h11
httpcore
httpx
huggingface-hub
idna
importlib_metadata
importlib_resources
InstructorEmbedding
ipykernel
ipython
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
langchain
langchain-community
langchain-core
langchain-pinecone
langchain-text-splitters
langsmith
llama-cloud
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-ollama
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-parse
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mpmath
multidict
mypy-extensions
narwhals
nest_asyncio
networkx
nltk
numpy
ollama
openai
orjson
packaging
pandas
parso
pexpect
pickleshare
pillow
pinecone
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
pkgutil_resolve_name
platformdirs
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pypdf
python-dateutil
python-pptx
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
streamlit
striprtf
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzdata
urllib3
wcwidth
wrapt
XlsxWriter
yarl
zipp